<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	

		<div class="ui-grid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-2-responsive">

					
							
					
				</div>
				<div class="ui-grid-col-8">
					<ui:include src="/view/common/menu.xhtml" />
				</div>
			
						
					</div>
				</div>
	

</ui:composition>