<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<h:form>

		<p:menubar >
		<p:menuitem  styleClass="mnuheader" value="About"  url="/view/lsi/MenuAbout.xhtml"></p:menuitem>
			
			<p:menuitem value=""/>
			<p:menuitem styleClass="mnuheader" value="Document Collection" url="/view/lsi/documentRegistration.xhtml"/>
			<p:menuitem value=""/>
			<p:menuitem styleClass="mnuheader" value="Training Process" url="/view/lsi/SVDcalculation.xhtml"/>
			<p:menuitem value=""/>
			<p:menuitem styleClass="mnuheader" value="Similarity Calculation" url="/view/lsi/documentSimilarityTitle.xhtml"/>
					
		</p:menubar>
		
	</h:form>
</ui:composition>