<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="documentRegisterForm" enctype="multipart/form-data">
			<h1>
				<h:outputText  value="Similarity Calculation" />
			</h1>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">

				<p:outputLabel value="Column Count"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="id" label="Column Count" required="true" readonly="true"
						maxlength="50" styleClass="width-30"
						value="#{tfIdfSaveAction.docId}"
						onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="id" />
				</h:panelGroup>

				<p:outputLabel value="Document File Upload : " />
				<h:panelGroup>
				 <p:growl id="messages" showDetail="true" />
 				<p:fileUpload allowTypes="/(\.)(pdf)$/" value="#{tfIdfSaveAction.docFile}" mode="simple" skinSimple="true"/>
				<br/>
				</h:panelGroup>
												
			</p:panelGrid>
					<p:commandButton id="register"
						value="Insert"
						update=":documentRegisterForm"
						process="documentRegisterForm"
						styleClass="btn"
						action="#{tfIdfSaveAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{tfIdfSaveAction.init}" 
						styleClass="btn"
						update=":documentRegisterForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					<!-- <p:spacer width="5"></p:spacer>
					<p:commandButton id="SVDcalculation"
						value="Start Calculation"
						
						styleClass="btn"
						action="#{tfIdfSaveAction.showcalculateSVD}" ajax="false" /> -->
		</h:form>
	</ui:define>
</ui:composition>
