<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="userRegistrationCompleteForm"
			enctype="multipart/form-data">
			<center>
			<h1>
				<h:outputText value="Search Results" />
			</h1>
			</center>
			<center>
			<p:scrollPanel style="width:900px;height:600px">
			<p:messages globalOnly="true" showDetail="false" showSummary="true"
				autoUpdate="true" />
			<p:separator></p:separator>
			<ui:repeat id="survey-repeat" value="#{documentSimilarityResultAction.resultList}" var="res">
			<p:panelGrid  columns="4"
				columnClasses="width-30, width-70" layout="grid">
				
				 
				
				<p:outputLabel style="font-weight:bold"
					value="Document Code" />
				<h:outputText id="docCode" style="font-weight:bold"
					value="#{res.code}" />

				<p:outputLabel style="font-weight:bold"
					value="Document Title" />
				<h:outputText id="docName" style="font-weight:bold"
					value="#{res.label}" />
					
					<p:outputLabel style="font-weight:bold"
					value="Author Name" />
				<h:outputText id="authorName" style="font-weight:bold"
					value="#{res.authorName}" />

				<p:outputLabel style="font-weight:bold"
					value="Similarity Result" />
				<h:outputText id="gender" style="font-weight:bold"
					value="#{res.similarityValue}" />
					
					<p:outputLabel value="Document File" style="font-weight:bold" />

		   			 <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
		        		<p:fileDownload value="#{res.downLoadFile}" />
		    		</p:commandButton>

				
			</p:panelGrid>
			</ui:repeat> 
			</p:scrollPanel>
			</center>
		</h:form>
	</ui:define>
</ui:composition>
