<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="documentUpdateForm" enctype="multipart/form-data">
			<h1 style="color:#006ECC">
				<h:outputText  value="Updating Document Information" />
			</h1>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">

				<p:outputLabel value="Document Code"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="id" label="Document Code" required="true"
						maxlength="50" styleClass="width-30"
						value="#{docUpdateAction.docData.code}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="id" />
				</h:panelGroup>

				<p:outputLabel value="Document Title" />
				<h:panelGroup>
					<p:inputText id="name" label="Document Name" maxlength="50"
						styleClass="width-30"
						value="#{docUpdateAction.docData.name}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="name" />
				</h:panelGroup>							

				<p:outputLabel value="Author Name"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="authname" label="Author Name" maxlength="50"
						styleClass="width-30"
						value="#{docUpdateAction.docData.authorName}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="authname" />
				</h:panelGroup>
															
			</p:panelGrid>
				<p:commandButton id="register"
						value="Update"
						update=":documentUpdateForm"
						process="documentUpdateForm"
						styleClass="btn"
						action="#{docUpdateAction.update}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="Reset"
						action="#{docUpdateAction.init}" 
						styleClass="btn"
						update=":documentUpdateForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					<p:commandButton id="back"
						value="Back"
						action="documentSearch" 
						styleClass="btn"
						update=":documentUpdateForm" immediate="true" ajax="false">
							<p:resetInput target="@form" />
					</p:commandButton>
					
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
