<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="documentSimilarityTitleForm" enctype="multipart/form-data">
		<center>
			<h1 style="color:#006ECC">
				<h:outputText  value="Finding Document Similarity" />
			</h1>
			</center>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
					
				<p:outputLabel value="Enter Any Text" />
				<h:panelGroup>
				 <p:growl id="messages" showDetail="true" />
 				<p:inputTextarea id="title" rows="4" cols="40" required="true"   autoResize="false" value="#{documentSimilarityTitleAction.documentTitle}" />
				<br/>
				<p:message for="title" />
				</h:panelGroup>
				
				<p:outputLabel value="Threshold Value"
					styleClass="required" />
				<h:panelGroup>
					<p:inputNumber id="thvalue" label="Threshold Value" maxlength="50"
						styleClass="width-30" required="true"
						value="#{documentSimilarityTitleAction.threadingValue}">		
					</p:inputNumber>
					<p:message for="thvalue" />
				</h:panelGroup>
																			
			</p:panelGrid>
			<center>
				<p:commandButton id="Find"
						value="Search"
						update=":documentSimilarityTitleForm"
						process="documentSimilarityTitleForm"
						styleClass="btn"
						action="#{documentSimilarityTitleAction.calculateSimilarity}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="Reset"
						action="#{documentSimilarityTitleAction.init}" 
						styleClass="btn"
						update="documentSimilarityTitleForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					</center>
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
