<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="documentSearchForm">
		<center>
			<h1>
				<h:outputText value="View All Document Information"  />
			</h1>
			</center>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			
			<p:dataTable styleClass="dataTable" id="docSearchTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{docSearchAction.docuDatamodel}"
				var="list" widgetVar="docSearchTable">
				<p:column headerText="Document Code" styleClass="width-6">
					<h:outputText value="#{list.code}" />
				</p:column>
				<p:column headerText="Document Title" styleClass="width-12">
					<h:outputText value="#{list.name}" />
				</p:column>
				
				<p:column headerText="Author Name" styleClass="width-10">
					<h:outputText value="#{list.authorName}" />
				</p:column>
				
				<p:column headerText=" " styleClass="width-16 ">
				<p:commandLink styleClass="link" id="detail" value="Detail"
						action="#{docSearchAction.detail(list.id)}" />
					<p:spacer width="4"></p:spacer>	
					<p:commandLink styleClass="link" id="edit" value="Update"
						action="#{docSearchAction.edit(list.id)}" />
					<p:spacer width="4"></p:spacer>				
					<p:commandLink id="pwchange" value="Word List"
						action="#{docSearchAction.wordList(list.id)}" />
				</p:column>
			</p:dataTable>
			<p:commandButton id="back"
						value="Back"
						action="SVDcalculation" 
						styleClass="btn"
						update=":wordListForm" immediate="true" ajax="false">
							<p:resetInput target="@form" />
		</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>