<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="documentDetailForm" enctype="multipart/form-data">
			<h1 style="color:#006ECC">
				<h:outputText  value="Document Information" />
			</h1>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">

				<p:outputLabel value="Document Code"
					/>
				<p:outputLabel value="#{docDetailAction.docData.code}"></p:outputLabel>

				<p:outputLabel value="Document Title" />
				<p:outputLabel value="#{docDetailAction.docData.name}"></p:outputLabel>						

				<p:outputLabel value="Author Name"/>
				<p:outputLabel value="#{docDetailAction.docData.authorName}"></p:outputLabel>

				
				<p:outputLabel value="Document File" />

		   			 <p:commandButton value="Download" ajax="false" actionListener="#{docDetailAction.prepareDownload()}" icon="ui-icon-arrowthick-1-s">
		        		<p:fileDownload value="#{docDetailAction.downLoadFile}" />
		    		</p:commandButton>
																
			</p:panelGrid>
				<p:commandButton id="back"
						value="Back"
						action="documentSearch" 
						styleClass="btn"
						update=":wordListForm" immediate="true" ajax="false">
							<p:resetInput target="@form" />
					</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
