<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="similarWordCountForm">
		<center>
			<h1>
				<h:outputText value="U Matrix List by each Document"  />
			</h1>
			</center>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			
	 <div class="ui-grid">
			<div class="ui-grid-row">
							
			
			</div>			
			</div>
		
				<p:scrollPanel style="width:700px;height:450px">
			 <h:panelGrid cellpadding="7" columns="#{umatrixCalculation.columncount}" >
       		  <c:forEach var="row" items="#{umatrixCalculation.umatrix}">

            		<c:forEach var="value" items="#{row}">
            		<p:outputLabel value="#{value}" />
                			
                			
                    </c:forEach>
        	  </c:forEach>
    		</h:panelGrid>
			
			</p:scrollPanel>
			
		
		<p:commandButton id="back"
						value="Back"
						action="SVDcalculation" 
						styleClass="btn"
						update=":wordListForm" immediate="true" ajax="false">
							<p:resetInput target="@form" />
		</p:commandButton>
		
			<p:spacer width="5"></p:spacer>
				<p:commandButton id="saveUMatrix"
						value="Save"
						styleClass="btn"
						action="#{umatrixCalculation.saveData}" 
					 immediate="true" ajax="false"/>
					
		</h:form>
	</ui:define>
</ui:composition>