<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		
		<h:form id="documentRegisterForm" enctype="multipart/form-data">
		<center>
			<h1>
				<h:outputText  value="Training Documents" />
			</h1>
			</center>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">

				<p:outputLabel value="Document Code"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="id" label="Document Code" required="true" readonly="true"
						maxlength="50" styleClass="width-30"
						value="#{tfIdfSaveAction.docId}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="id" />
				</h:panelGroup>

				<p:outputLabel value="Document Title" />
				<h:panelGroup>
					<p:inputText id="name" label="Document Title" 
						styleClass="width-30"
						value="#{tfIdfSaveAction.document.name}">
					</p:inputText>
					<p:message for="name" />
				</h:panelGroup>							

				<p:outputLabel value="Author Name"
					styleClass="required" />
				<h:panelGroup>
					<p:inputText id="authname" label="Author Name" maxlength="50"
						styleClass="width-30"
						value="#{tfIdfSaveAction.document.authorName}">
						<f:validateLength maximum="50" />
					</p:inputText>
					<p:message for="authname" />
				</h:panelGroup>

		
				
				<p:outputLabel value="Document File Upload : " />
				<h:panelGroup>
				 <p:growl id="messages" showDetail="true" />
 				<p:fileUpload allowTypes="/(\.)(pdf)$/" value="#{tfIdfSaveAction.docFile}" mode="simple" skinSimple="true"/>
				<br/>
				</h:panelGroup>
												
			</p:panelGrid>
			<center>
					<p:commandButton id="register"
						value="Insert"
						update=":documentRegisterForm"
						process="documentRegisterForm"
						styleClass="btn"
						action="#{tfIdfSaveAction.register}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="Reset"
						action="#{tfIdfSaveAction.init}" 
						styleClass="btn"
						update=":documentRegisterForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
	
						</center>
		</h:form>
	
	</ui:define>
</ui:composition>
