<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="similarWordCountForm">
			<h1>
				<h:outputText value="Term By Document Matrix"  />
			</h1>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			

				<center>
				<h2>
					<h:outputText value="Same Word Count List by each Document" />
				</h2>
				
		
				
			
		
			

			<p:dataTable id="table" scrollWidth="70%" scrollHeight="350" scrollable="true" value="#{wordCountSimilarityAction.dynamicDataList}" var="wordCount"
			paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  >
                            <p:columns width="100" value="#{wordCountSimilarityAction.columnDocList}" var="id" headerText="#{id}">
                                      #{wordCount.get(id)}
                            </p:columns>
			</p:dataTable>
</center>
<center>
		<p:commandButton id="back"
						value="Back"
						action="SVDcalculation" 
						styleClass="btn"
						update=":wordListForm" immediate="true" ajax="false">
							<p:resetInput target="@form" />
		</p:commandButton>
		<p:spacer width="5"></p:spacer>
				<p:commandButton id="savematrixA"
						value="Save"
						styleClass="btn"
						action="#{wordCountSimilarityAction.saveData}" 
					 immediate="true" ajax="false">
		 
		</p:commandButton>
		</center>
		</h:form>
	</ui:define>
</ui:composition>