<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="documentSimilarityForm" enctype="multipart/form-data">
			<h1 style="color:#006ECC">
				<h:outputText  value="Finding Document Similarity" />
			</h1>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="2"
				columnClasses="width-20, width-80" layout="grid">
					
				<p:outputLabel value="Document File Upload (pdf only)" />
				<h:panelGroup>
				 <p:growl id="messages" showDetail="true" />
 				<p:fileUpload allowTypes="/(\.)(pdf)$/" value="#{documentSimilarityAction.docFile}" mode="simple" skinSimple="true"/>
				<br/>
				</h:panelGroup>
				
				<!-- <p:outputLabel value="Number of Documents"
					styleClass="required" />
				<h:panelGroup>
					<p:selectOneMenu id="count" label="Comparison of Documents" required="true"
						styleClass="selectBox-width-26"
						value="#{documentSimilarityAction.docComparisonCount}">
						<f:selectItem itemLabel="Select Document Count" itemValue="" noSelectionOption="true"/>
						<f:selectItems value="#{documentSimilarityAction.documentCountList}"
							var="docCount" itemLabel="#{docCount.label}"
							itemValue="#{docCount.value}" />
					</p:selectOneMenu>
					<p:message for="count" />
				</h:panelGroup>
				
				<p:outputLabel value="Threshold Value"
					styleClass="required" />
				<h:panelGroup>
					<p:inputNumber id="thvalue" label="Threshold Value" maxlength="50"
						styleClass="width-30"
						value="#{documentSimilarityAction.threadingValue}">		
					</p:inputNumber>
					<p:message for="thvalue" />
				</h:panelGroup> -->
																			
			</p:panelGrid>
			<center>
				<p:commandButton id="Find"
						value="Calculate"
						update=":documentSimilarityForm"
						process="documentSimilarityForm"
						styleClass="btn"
						action="#{documentSimilarityAction.calculateSimilarity}" ajax="false" />
					<p:spacer width="5"></p:spacer>
					<p:commandButton id="reset"
						value="#{label['user_Reset']}"
						action="#{documentSimilarityAction.init}" 
						styleClass="btn"
						update=":documentSimilarityForm" immediate="true" ajax="false">
						<p:resetInput target="@form" />
					</p:commandButton>	
					</center>
			<br></br>
		</h:form>
	</ui:define>
</ui:composition>
