
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/common/standardLayout.xhtml">
			<ui:define name="content">
		
		
		<div class="about" align="center" 
		style="background-image: url(#{request.contextPath}/images/school_background.jpg);">
		
			<div style=" position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;">
			<h1 style="color:#00000">
				<h:outputText value="Retrieving Semantically Relevant Documents Using Latent Semantic Indexing" />
			</h1>
			
			<p:outputLabel style="font-size:25px; color:#00000"
					value="Ma Chue Wut Yee" />
					<br/><br/>
			<p:outputLabel style="font-size:25px; color:#00000"
					value="5MCS-155" />
			</div>
      
		</div>

</ui:define>
</ui:composition>
</body>
</html>