<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="SVDcalculation" enctype="multipart/form-data">
		<center>
			<h1>
				<h:outputText  value="SVD Calculation" />
			</h1>
			</center>
			 <p:messages globalOnly="true" showDetail="true" showSummary="true" autoUpdate="true" closable="true" />
			<p:separator styleClass="color:#006ECC"></p:separator>
			<br></br>
			<p:panelGrid id="basicInformationGrid" columns="3"
				columnClasses="width-30, width-20 width-10" layout="grid">

				<p:outputLabel value="To view all documents information"/>
				<h:panelGroup>
					<p:commandButton id="viewdocuments"
						value="View All Document"
						styleClass="btn"
						action="#{svdcalculation.viewallDocument}" ajax="false" />
				</h:panelGroup>
				<p:outputLabel value=""/>

				<p:outputLabel value="Create term document Matrix" />
				
				<p:commandButton id="matrixsave"
						value="Calculate Matrix A"
						styleClass="btn"
						action="#{svdcalculation.saveMatrixA}" ajax="false" />
				
				
					<p:commandButton id="matrixformation"
						value="View Matrix A"
						styleClass="btn"
						action="#{svdcalculation.exportMatrixA}" ajax="false" />
			
				
													

				<p:outputLabel value="To create Singular Matrix(Concept Matrix S)" />
				
				<p:commandButton id="savematrixS"
						value="Calculate Matrix S"
						styleClass="btn"
						action="#{svdcalculation.saveMatrixS}" ajax="false" />
			
				
					<p:commandButton id="SingularValueMatrix"
						value="View Matrix S"
						styleClass="btn"
						action="#{svdcalculation.exportSingularMatrix}" ajax="false"  >
					
						</p:commandButton>
				
			
					

				<p:outputLabel value="To create Eigenvector(Document Concept Matrix V)" />
				
				<p:commandButton id="savematrixV"
						value="Calculate Matrix V"
						styleClass="btn"
						action="#{svdcalculation.saveMatrixV}" ajax="false" />
				
		
					<p:commandButton id="EigenValueMatrix"
						value="View Matrix V"
						styleClass="btn"
						action="#{svdcalculation.exportVectorMatrix}" ajax="false" >
   
						
						</p:commandButton>
	
							

				
				<p:outputLabel value="To create Term Concept Matrix(U)" />
				
				<p:commandButton id="savematrixU"
						value="Calculate Matrix U"
						styleClass="btn"
						action="#{svdcalculation.saveMatrixU}" ajax="false" />
		
		
					<p:commandButton id="uMatrix"
						value="View Matrix U"
						styleClass="btn"
						action="#{svdcalculation.exportUMatrix}" ajax="false" >
						
						</p:commandButton>
		
					
				
				
				<p:outputLabel value="Enter k value" />
				
				<p:inputNumber id="threadshowValue"  label="Threadshow Value" required="true"
			    value="#{svdcalculation.tvalue}"/>						
				<p:watermark for="threadshowValue" value="Enter Threadshow Value" id="watermark" />
			
				</p:panelGrid>
				<center>
					<p:commandButton id="ProcessData"
						value="Process"
						styleClass="btn"
						action="#{svdcalculation.processData}" ajax="false" />
				<p:spacer width="5"></p:spacer>
				
					<p:commandButton id="restartProcessValue"
						value="Reset Vector Values"
						styleClass="btn"
						action="#{svdcalculation.resetVectorValues}" ajax="false" />
				<p:spacer width="5"></p:spacer>

					<p:commandButton id="restartTrainingPhase"
						value="Restart the Training Phase"
						styleClass="btn"
						action="#{svdcalculation.deleteAllData}" ajax="false" />
								
													
			</center>
				
		</h:form>
	</ui:define>
</ui:composition>
