<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="/view/common/standardLayout.xhtml">
	<ui:define name="content">
		<h:form id="wordListForm">
			<h1>
				<h:outputText value="Word Viewing List"  />
			</h1>

			
			<p:dataTable styleClass="dataTable" id="docSearchTable" paginator="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				lazy="true" rows="10" rowIndexVar="index"
				rowsPerPageTemplate="10,15,20" value="#{wordListAction.wordDataModel}"
				var="list" widgetVar="docSearchTable">
				<p:column headerText="Word" styleClass="width-10">
					<h:outputText value="#{list.word}" />
				</p:column>
				
				<p:column headerText="Count" styleClass="width-10">
					<h:outputText value="#{list.count}" />
				</p:column>
				
			</p:dataTable>
			<p:commandButton id="back"
						value="Back"
						action="documentSearch" 
						styleClass="btn"
						update=":wordListForm" immediate="true" ajax="false">
							<p:resetInput target="@form" />
					</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>